---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=is:public%20ruby%20in:name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=is%3Apublic+ruby+in%3Aname&page=2>;
        rel="next", <https://api.github.com/search/repositories?q=is%3Apublic+ruby+in%3Aname&page=34>;
        rel="last"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1635781450'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":175795,"incomplete_results":false,"items":[{"id":538746,"node_id":"MDEwOlJlcG9zaXRvcnk1Mzg3NDY=","name":"ruby","full_name":"ruby/ruby","private":false,"owner":{"login":"ruby","id":210414,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIxMDQxNA==","avatar_url":"https://avatars.githubusercontent.com/u/210414?v=4","gravatar_id":"","url":"https://api.github.com/users/ruby","html_url":"https://github.com/ruby","followers_url":"https://api.github.com/users/ruby/followers","following_url":"https://api.github.com/users/ruby/following{/other_user}","gists_url":"https://api.github.com/users/ruby/gists{/gist_id}","starred_url":"https://api.github.com/users/ruby/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ruby/subscriptions","organizations_url":"https://api.github.com/users/ruby/orgs","repos_url":"https://api.github.com/users/ruby/repos","events_url":"https://api.github.com/users/ruby/events{/privacy}","received_events_url":"https://api.github.com/users/ruby/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/ruby/ruby","description":"The
        Ruby Programming Language [mirror]","fork":false,"url":"https://api.github.com/repos/ruby/ruby","forks_url":"https://api.github.com/repos/ruby/ruby/forks","keys_url":"https://api.github.com/repos/ruby/ruby/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ruby/ruby/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ruby/ruby/teams","hooks_url":"https://api.github.com/repos/ruby/ruby/hooks","issue_events_url":"https://api.github.com/repos/ruby/ruby/issues/events{/number}","events_url":"https://api.github.com/repos/ruby/ruby/events","assignees_url":"https://api.github.com/repos/ruby/ruby/assignees{/user}","branches_url":"https://api.github.com/repos/ruby/ruby/branches{/branch}","tags_url":"https://api.github.com/repos/ruby/ruby/tags","blobs_url":"https://api.github.com/repos/ruby/ruby/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ruby/ruby/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ruby/ruby/git/refs{/sha}","trees_url":"https://api.github.com/repos/ruby/ruby/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ruby/ruby/statuses/{sha}","languages_url":"https://api.github.com/repos/ruby/ruby/languages","stargazers_url":"https://api.github.com/repos/ruby/ruby/stargazers","contributors_url":"https://api.github.com/repos/ruby/ruby/contributors","subscribers_url":"https://api.github.com/repos/ruby/ruby/subscribers","subscription_url":"https://api.github.com/repos/ruby/ruby/subscription","commits_url":"https://api.github.com/repos/ruby/ruby/commits{/sha}","git_commits_url":"https://api.github.com/repos/ruby/ruby/git/commits{/sha}","comments_url":"https://api.github.com/repos/ruby/ruby/comments{/number}","issue_comment_url":"https://api.github.com/repos/ruby/ruby/issues/comments{/number}","contents_url":"https://api.github.com/repos/ruby/ruby/contents/{+path}","compare_url":"https://api.github.com/repos/ruby/ruby/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ruby/ruby/merges","archive_url":"https://api.github.com/repos/ruby/ruby/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ruby/ruby/downloads","issues_url":"https://api.github.com/repos/ruby/ruby/issues{/number}","pulls_url":"https://api.github.com/repos/ruby/ruby/pulls{/number}","milestones_url":"https://api.github.com/repos/ruby/ruby/milestones{/number}","notifications_url":"https://api.github.com/repos/ruby/ruby/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ruby/ruby/labels{/name}","releases_url":"https://api.github.com/repos/ruby/ruby/releases{/id}","deployments_url":"https://api.github.com/repos/ruby/ruby/deployments","created_at":"2010-02-27T15:55:23Z","updated_at":"2021-11-01T15:28:49Z","pushed_at":"2021-11-01T15:28:48Z","git_url":"git://github.com/ruby/ruby.git","ssh_url":"git@github.com:ruby/ruby.git","clone_url":"https://github.com/ruby/ruby.git","svn_url":"https://github.com/ruby/ruby","homepage":"https://www.ruby-lang.org/","size":261748,"stargazers_count":18569,"watchers_count":18569,"language":"Ruby","has_issues":false,"has_projects":false,"has_downloads":false,"has_wiki":false,"has_pages":false,"forks_count":4911,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":349,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":["c","language","object-oriented","ruby","ruby-language"],"visibility":"public","forks":4911,"open_issues":349,"watchers":18569,"default_branch":"master","score":1.0},{"id":7967167,"node_id":"MDEwOlJlcG9zaXRvcnk3OTY3MTY3","name":"ruby","full_name":"airbnb/ruby","private":false,"owner":{"login":"airbnb","id":698437,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY5ODQzNw==","avatar_url":"https://avatars.githubusercontent.com/u/698437?v=4","gravatar_id":"","url":"https://api.github.com/users/airbnb","html_url":"https://github.com/airbnb","followers_url":"https://api.github.com/users/airbnb/followers","following_url":"https://api.github.com/users/airbnb/following{/other_u[...]
- request:
    method: get
    uri: http://example.org/repos/search?value=ruby&field=name
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css\"
        rel=\"stylesheet\" integrity=\"sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3\"
        crossorigin=\"anonymous\">\n\n    <title>GitHub public repos finder</title>\n
        \ </head>\n  <body>\n     <div class=\"w-50 p-2 d-grid gap-3 mt-1\">\n  <nav
        class=\"navbar navbar-light\">\n    <div class=\"container\">\n      <div
        class=\"row\">\n        <div class=\"col-2\">\n          <a href=\"/\"><button
        type=\"submit\" class=\"btn btn-success\">Home</button></a>\n        </div>\n
        \       <div class=\"col\">\n          <h3>Lookup for public GitHub repos</h3>\n
        \       </div>\n      </div>\n    </div>\n  </nav>\n</div>\n    <div class=\"w-50
        p-3 d-grid gap-3 mt-1 ms-1\">\n  \n\n  <form action=\"/repos/search\" method=\"get\"
        name=\"edit\" id=\"searchform\">\n  <div class=\"row mb-3\">\n    <label for=\"searchInput\"
        class=\"col-sm-2 col-form-label\">Your search:</label>\n    <div class=\"col-sm-10\">\n
        \     <input name=\"value\" type=\"search\" class=\"form-control\" id=\"searchInput\"
        value=\"ruby\" required>\n      <div id=\"searchHelp\" class=\"form-text\">Please
        enter owner and repository name for “Owner” field like this “ruby ruby”</div>\n
        \   </div>\n  </div>\n  <div class=\"row mb-3\">\n    <label for=\"field\"
        class=\"col-sm-2 col-form-label\">Field</label>\n    <div class=\"col-sm-10\">\n
        \     <select name=\"field\" class=\"form-select\" aria-label=\"size 4 select
        example\" aria-describedby=\"searchHelp\" value=\"name\" required>\n        \n
        \         <option value=\"name\" selected>Name</option>\n        \n        \n
        \         <option value=\"description\">Description</option>\n        \n          <option
        value=\"readme\">Readme</option>\n        \n          <option value=\"owner\">Owner</option>\n
        \       \n      </select>\n      </div>\n  </div>\n  <button type=\"submit\"
        class=\"btn btn-primary\">Search</button>\n  </form>\n</div>\n\n  <div class=\"container
        mt-1 ms-1\">\n    <div class=\"row align-items-start\">\n      <div class=\"col-2\">\n
        \       <b>Owner name</b>\n      </div>\n      <div class=\"col-2\">\n        <b>Repo
        name</b>\n      </div>\n      <div class=\"col-8\">\n        <b>Description</b>\n
        \     </div>\n    \n      <div class=\"col-2\">\n  <a href=\"https://github.com/ruby\">ruby</a>\n</d[...]
[...]
- request:
    method: get
    uri: http://example.org/repos/search?value=ruby&field=name
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 500
      message:
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html>\n<head>\n  <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"/>\n  <title>FrozenError at &#x2F;repos&#x2F;search</title>\n\n
        \ <script type=\"text/javascript\">\n  //<!--\n  function toggle(id) {\n    var
        pre  = document.getElementById(\"pre-\" + id);\n    var post = document.getElementById(\"post-\"
        + id);\n    var context = document.getElementById(\"context-\" + id);\n\n
        \   if (pre.style.display == 'block') {\n      pre.style.display = 'none';\n
        \     post.style.display = 'none';\n      context.style.background = \"none\";\n
        \   } else {\n      pre.style.display = 'block';\n      post.style.display
        = 'block';\n      context.style.background = \"#fffed9\";\n    }\n  }\n\n
        \ function toggleBacktrace(){\n    var bt = document.getElementById(\"backtrace\");\n
        \   var toggler = document.getElementById(\"expando\");\n\n    if (bt.className
        == 'condensed') {\n      bt.className = 'expanded';\n      toggler.innerHTML
        = \"(condense)\";\n    } else {\n      bt.className = 'condensed';\n      toggler.innerHTML
        = \"(expand)\";\n    }\n  }\n  //-->\n  </script>\n\n<style type=\"text/css\"
        media=\"screen\">\n  *                   {margin: 0; padding: 0; border: 0;
        outline: 0;}\n  div.clear           {clear: both;}\n  body                {background:
        #EEEEEE; margin: 0; padding: 0;\n                       font-family: 'Lucida
        Grande', 'Lucida Sans Unicode',\n                       'Garuda';}\n  code
        \               {font-family: 'Lucida Console', monospace;\n                       font-size:
        12px;}\n  li                  {height: 18px;}\n  ul                  {list-style:
        none; margin: 0; padding: 0;}\n  ol:hover            {cursor: pointer;}\n
        \ ol li               {white-space: pre;}\n  #explanation        {font-size:
        12px; color: #666666;\n                       margin: 20px 0 0 100px;}\n/*
        WRAP */\n  #wrap               {width: 1000px; background: #FFFFFF; margin:
        0 auto;\n                       padding: 30px 50px 20px 50px;\n                       border-left:
        1px solid #DDDDDD;\n                       border-right: 1px solid #DDDDDD;}\n/*
        HEADER */\n  #header             {margin: 0 auto 25px auto;}\n  #header img
        \        {float: left;}\n  #header #summary    {float: left; margin: 12px
        0 0 20px; width:660px;\n                       font-family: 'Lucida Grande',
        'Lucida Sans Unicode';}\n  h1                  {margin: 0; font-size: 36px;
        color: #981919;}\n  h2                  {margin: 0; font-size: 22px; color:
        #333333;}\n  #header ul          {margin: 0; font-size: 12px; color: #666666;}\n
        \ #header ul li strong{color: #444444;}\n  #header ul li       {display: inline;
        padding: 0 10px;}\n  #header ul li.first {padding-left: 0;}\n  #header ul
        li.last  {border: 0; padding-right: 0;}\n/* BODY */\n  #backtrace,\n  #get,\n
        \ #post,\n  #cookies,\n  #rack               {width: 980px; margin: 0 auto
        10px auto;}\n  p#nav               {float: right; font-size: 14px;}\n/* BACKTRACE
        */\n  a#expando           {float: left; padding-left: 5px; color: #666666;\n
        \                     font-size: 14px; text-decoration: none; cursor: pointer;}\n
        \ a#expando:hover     {text-decoration: underline;}\n  h3                  {float:
        left; width: 100px; margin-bottom: 10px;\n                       color: #981919;
        font-size: 14px; font-weight: bold;}\n  #nav a              {color: #666666;
        text-decoration: none; padding: 0 5px;}\n  #backtrace li.frame-info {background:
        #f7f7f7; padding-left: 10px;\n                           font-size: 12px;
        color: #333333;}\n  #backtrace ul       {list-style-position: outside; border:
        1px solid #E9E9E9;\n                       border-bottom: 0;}\n  #backtrace
        ol       {width: 920px; margin-left: 50px;\n                       font: 10px
        'Lucida Console', monospace; color: #666666;}\n  #backtrace ol li    {border:
        0;[...]
[...]
