---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=is:public%20ruby%20in:name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=is%3Apublic+ruby+in%3Aname&page=2>;
        rel="next", <https://api.github.com/search/repositories?q=is%3Apublic+ruby+in%3Aname&page=34>;
        rel="last"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1635782439'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":175795,"incomplete_results":false,"items":[{"id":538746,"node_id":"MDEwOlJlcG9zaXRvcnk1Mzg3NDY=","name":"ruby","full_name":"ruby/ruby","private":false,"owner":{"login":"ruby","id":210414,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIxMDQxNA==","avatar_url":"https://avatars.githubusercontent.com/u/210414?v=4","gravatar_id":"","url":"https://api.github.com/users/ruby","html_url":"https://github.com/ruby","followers_url":"https://api.github.com/users/ruby/followers","following_url":"https://api.github.com/users/ruby/following{/other_user}","gists_url":"https://api.github.com/users/ruby/gists{/gist_id}","starred_url":"https://api.github.com/users/ruby/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ruby/subscriptions","organizations_url":"https://api.github.com/users/ruby/orgs","repos_url":"https://api.github.com/users/ruby/repos","events_url":"https://api.github.com/users/ruby/events{/privacy}","received_events_url":"https://api.github.com/users/ruby/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/ruby/ruby","description":"The
        Ruby Programming Language [mirror]","fork":false,"url":"https://api.github.com/repos/ruby/ruby","forks_url":"https://api.github.com/repos/ruby/ruby/forks","keys_url":"https://api.github.com/repos/ruby/ruby/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ruby/ruby/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ruby/ruby/teams","hooks_url":"https://api.github.com/repos/ruby/ruby/hooks","issue_events_url":"https://api.github.com/repos/ruby/ruby/issues/events{/number}","events_url":"https://api.github.com/repos/ruby/ruby/events","assignees_url":"https://api.github.com/repos/ruby/ruby/assignees{/user}","branches_url":"https://api.github.com/repos/ruby/ruby/branches{/branch}","tags_url":"https://api.github.com/repos/ruby/ruby/tags","blobs_url":"https://api.github.com/repos/ruby/ruby/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ruby/ruby/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ruby/ruby/git/refs{/sha}","trees_url":"https://api.github.com/repos/ruby/ruby/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ruby/ruby/statuses/{sha}","languages_url":"https://api.github.com/repos/ruby/ruby/languages","stargazers_url":"https://api.github.com/repos/ruby/ruby/stargazers","contributors_url":"https://api.github.com/repos/ruby/ruby/contributors","subscribers_url":"https://api.github.com/repos/ruby/ruby/subscribers","subscription_url":"https://api.github.com/repos/ruby/ruby/subscription","commits_url":"https://api.github.com/repos/ruby/ruby/commits{/sha}","git_commits_url":"https://api.github.com/repos/ruby/ruby/git/commits{/sha}","comments_url":"https://api.github.com/repos/ruby/ruby/comments{/number}","issue_comment_url":"https://api.github.com/repos/ruby/ruby/issues/comments{/number}","contents_url":"https://api.github.com/repos/ruby/ruby/contents/{+path}","compare_url":"https://api.github.com/repos/ruby/ruby/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ruby/ruby/merges","archive_url":"https://api.github.com/repos/ruby/ruby/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ruby/ruby/downloads","issues_url":"https://api.github.com/repos/ruby/ruby/issues{/number}","pulls_url":"https://api.github.com/repos/ruby/ruby/pulls{/number}","milestones_url":"https://api.github.com/repos/ruby/ruby/milestones{/number}","notifications_url":"https://api.github.com/repos/ruby/ruby/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ruby/ruby/labels{/name}","releases_url":"https://api.github.com/repos/ruby/ruby/releases{/id}","deployments_url":"https://api.github.com/repos/ruby/ruby/deployments","created_at":"2010-02-27T15:55:23Z","updated_at":"2021-11-01T15:28:49Z","pushed_at":"2021-11-01T15:28:48Z","git_url":"git://github.com/ruby/ruby.git","ssh_url":"git@github.com:ruby/ruby.git","clone_url":"https://github.com/ruby/ruby.git","svn_url":"https://github.com/ruby/ruby","homepage":"https://www.ruby-lang.org/","size":261789,"stargazers_count":18569,"watchers_count":18569,"language":"Ruby","has_issues":false,"has_projects":false,"has_downloads":false,"has_wiki":false,"has_pages":false,"forks_count":4911,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":349,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"topics":["c","language","object-oriented","ruby","ruby-language"],"visibility":"public","forks":4911,"open_issues":349,"watchers":18569,"default_branch":"master","score":1.0},{"id":7967167,"node_id":"MDEwOlJlcG9zaXRvcnk3OTY3MTY3","name":"ruby","full_name":"airbnb/ruby","private":false,"owner":{"login":"airbnb","id":698437,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY5ODQzNw==","avatar_url":"https://avatars.githubusercontent.com/u/698437?v=4","gravatar_id":"","url":"https://api.github.com/users/airbnb","html_url":"https://github.com/airbnb","followers_url":"https://api.github.com/users/airbnb/followers","following_url":"https://api.github.com/users/airbnb/following{/other_u[...]
