---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=is:public%20repo:ruby/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1635782710'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"message":"The listed users
        and repositories cannot be searched either because the resources do not exist
        or you do not have permission to view them.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://docs.github.com/v3/search/"}'
  recorded_at: Mon, 01 Nov 2021 16:04:10 GMT
recorded_with: VCR 6.0.0
