<div class="w-50 p-2 d-grid gap-3 mt-1">
  <nav class="navbar navbar-light">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <a href="/"><button type="submit" class="btn btn-success">Home</button></a>
        </div>
        <div class="col">
          <h3>Lookup for public GitHub repos</h3>
        </div>
      </div>
    </div>
  </nav>
</div>